body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #111;
  font-style: normal; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.page-main {
  width: 100%; }

.page-header {
  width: 320px;
  margin: 0 auto; }

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.page-header__title-logo-image {
  display: none; }

.main-nav__list {
  display: none; }

@media (min-width: 768px) {
  .page-header {
    width: 100%;
    min-height: 85px;
    margin: 0 auto; }
  .page-header__wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex; }
  .page-header__logo-image,
  .page-header__title {
    display: none; }
  .page-header__title-logo-image {
    display: block; }
  .main-nav__list {
    width: 400px;
    display: flex;
    margin-left: auto;
    justify-content: space-around; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1200px) {
  .page-header {
    min-height: 130px; }
  .page-header__wrapper {
    width: 1200px;
    margin: 0 auto; } }

.slogan {
  width: 320px;
  margin: 0 auto; }

.slogan__wrapper {
  width: 100%;
  padding: 0;
  min-height: 265px;
  margin: 0 auto;
  background-size: 320px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-image: url("../img/green-cat.png");
  padding-top: 10px;
  text-align: center; }

.slogan__image {
  display: block;
  margin: auto;
  margin-top: -110px;
  position: relative; }

.slogan__link {
  position: absolute;
  top: 520px;
  margin-left: 20px; }

@media (min-width: 768px) {
  .slogan {
    width: 100%; }
  .slogan__wrapper {
    width: 768px;
    margin: 0 auto;
    background-color: inherit;
    background-image: none;
    text-align: left;
    box-sizing: border-box;
    padding-left: 50px; }
  .slogan__image {
    width: 60%;
    height: 60%; }
  .slogan__link {
    top: 200px;
    margin-left: 0; } }

@media (min-width: 1200px) {
  .slogan__wrapper {
    width: 1200px; }
  .slogan__link {
    top: 300px; }
  .slogan__image {
    margin-top: -300px;
    margin-left: 300px; } }

.options {
  width: 320px;
  margin: 0 auto; }

.options__wrapper {
  margin: 0 auto; }

.options__list {
  margin: 0 auto;
  padding: 0;
  margin: 40px auto; }

.options__item {
  list-style: none;
  box-sizing: border-box;
  display: block;
  min-height: 265px;
  width: 280px;
  background-color: #f2f2f2;
  margin: 15px auto;
  padding: 10px 20px; }

@media (min-width: 768px) {
  .options {
    width: 100%; }
  .options__wrapper {
    width: 768px;
    margin: 0 auto; }
  .options__item {
    width: 708px; } }

@media (min-width: 1200px) {
  .options__wrapper {
    width: 1200px;
    padding: 0; }
  .options__list {
    display: flex; }
  .options__item {
    width: 570px;
    margin: 20px; } }

.benefits {
  width: 320px;
  margin: 0 auto; }

.benefits__wrapper {
  margin: 0 auto;
  padding: 20px; }

.benefits__list {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0; }

.benefits__item {
  list-style: none;
  box-sizing: border-box;
  display: block;
  min-height: 80px;
  width: 280px;
  margin-top: 5px; }

@media (min-width: 768px) {
  .benefits {
    width: 100%; }
  .benefits__wrapper {
    width: 708px;
    margin: 0 auto; }
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .benefits__item {
    width: 250px; } }

@media (min-width: 1200px) {
  .benefits__wrapper {
    width: 1200px; }
  .benefits__list {
    margin-bottom: 30px; }
  .benefits__item {
    width: 200px; } }

.example {
  width: 320px;
  margin: 0 auto; }

.example__wrapper {
  box-sizing: border-box;
  padding: 15px;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .example {
    width: 100%; }
  .example__wrapper {
    width: 768px;
    border-top: 0.5px solid #dcdcdc;
    margin: 0 auto;
    background-color: white; }
  .example__extra-wrapper {
    margin-top: -170px;
    padding-top: 180px;
    background-color: #f2f2f2; } }

@media (min-width: 1200px) {
  .example__wrapper {
    width: 1200px; } }

.for-dilers {
  width: 320px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  min-height: 115px;
  justify-content: space-around;
  align-items: center; }

.for-dilers__grey {
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .for-dilers {
    width: 768px;
    display: flex;
    justify-content: space-around; }
  .for-dilers__p:first-child {
    width: 140px;
    text-align: left;
    text-transform: uppercase; }
  .for-dilers__p:last-child {
    width: 180px;
    text-align: right; } }

@media (min-width: 1200px) {
  .for-dilers {
    width: 570px; } }

.page-footer {
  width: 100%; }

.map {
  display: block;
  text-align: center;
  background-image: url("../img/map.png"); }

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.footer-logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
  height: 22px; }

.page-footer__social {
  width: 280px;
  margin: 0 20px;
  border-top: 0.5px solid #dcdcdc;
  border-bottom: 0.5px solid #dcdcdc;
  height: 70px; }

.page-footer__copyright {
  height: 85px; }

@media (min-width: 768px) {
  .page-footer {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2; }
  .page-footer__wrapper {
    width: 768px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    padding-top: 45px;
    box-sizing: border-box; }
  .footer-logo {
    padding-top: 20px; }
  .page-footer__social {
    border: none; } }

@media (min-width: 1200px) {
  .map {
    margin-top: -110px; } }

.catalog {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.main-title__catalog {
  width: 320px;
  margin: 15px auto;
  padding: 0;
  padding-left: 20px;
  text-align: left;
  line-height: 70px;
  box-sizing: border-box;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2; }

.catalog__list {
  width: 320px;
  margin: 5px auto;
  padding: 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.catalog__item {
  width: 320px;
  min-height: 210px;
  margin: 5px auto;
  padding: 10px 15px;
  display: block;
  box-sizing: border-box;
  position: relative; }

.catalog__item::after {
  content: "";
  position: absolute;
  width: 320px;
  margin: 0 auto;
  right: 0px;
  bottom: 1px;
  left: 0px;
  height: 1px;
  background-color: #f2f2f2; }

.main-nav {
  width: auto;
  margin: 0; }

.site-list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media (min-width: 1200px) {
  .main-nav__list {
    display: flex; } }

.button {
  display: block;
  height: 40px;
  width: 280px;
  background-color: #68b738;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 40px; }

.main-title {
  margin: 0 auto;
  font-size: 26px; }

.social__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 12px;
  width: 140px;
  display: flex;
  justify-content: center; }

.social__item {
  list-style: none;
  padding: 13px; }

.copyright {
  padding: 30px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; }

.copyright__link {
  text-decoration: none;
  color: #444;
  padding-right: 15px; }

@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
    padding-top: 20px; } }

/*# sourceMappingURL=main.css.map */
