.promo {
  color: white;
  background-color: $bright-color;
  text-align: center;
  margin: 5% auto;
  height: 285px;
  width: 280px;
  padding-top: 190px;
  box-sizing: border-box;
  background-image: url("../img/promo-back.png");
  position: relative;
  font-weight: bold;
}

.promo::before {
  content: "";
  position: absolute;
  left: 115px;
  bottom: 165px;
  background-repeat: no-repeat;
  display: block;
  height: 60px;
  width: 55px;
  background-position: 50% 50%;
  background-image: url("../img/promo-small.svg");
}

@media (min-width: $tablet-width) {
  .promo {
    width: 90%;
    background-size: cover;
    background-position: 0 400px;
    text-align: left;
    padding: 0;
    padding-left: 55%;
  }

  .promo p {
    display: inline-block;
    vertical-align: middle;
    padding-top: 100px;
  }

  .promo::before {
    bottom: 115px;
  }

}
