@media (max-width: $mobile-width-only) {

.site-list {
  font-weight: bold;
}
.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $bright-color;
  border-top: 1px solid darken($bright-color, 10%);
  border-bottom: 1px solid lighten($bright-color, 10%);
}
.site-list a[href]:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: lighten($bright-color, 10%);
  border-top-color: lighten($bright-color, 10%);
}
.site-list a[href]:active {
  background-color: darken($bright-color, 10%);
  border-top-color: darken($bright-color, 10%);
}

}

@media (min-width: $tablet-width) {
  .site-list--black > .site-list__item--active {
  border-bottom: 2px solid $bright-color;
  }
}
